/* The asterisk below indicates all elements. This code block for reset.
*{
	margin: 0;
	padding: 0;
}
*/

body{
	background-color: mintcream;
	color: #555555;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	
	/* short hand */
	font: normal 12px Arial, Helvetica, sans-serif;

	line-height: 1.6em;
	margin: 0;
}

a{
	text-decoration: none;
	color: #000;
}

a:hover{
	color: blue;
}

a:active{
	color: #000;
}

.container{
	width: 75%;
	margin: auto;
}

.button{
	background-color: #333;
	color: #fff;
	padding: 10px 15px;
	border: none;
}

.button:hover{
	background: lightgrey;
	color: blue;
}

.clr{
	clear: both;
}

.box-1{
	background-color: #333;
	color: #fff;

	border-right: 5px red solid;
	border-left: 5px red solid;
	border-top: 5px red solid;
	border-bottom: 5px red solid;
	border-width: 3px;
	border-bottom-width: 10px;
	border-top-style: dotted;

	/* short hand */
	border: 5px red solid;

	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;

	/* short hand*/
	padding: 50px;

	margin-top: 20px;
	margin: 20px 0px;
}

.box-1 h1{
	font-family: Tahoma;
	font-weight: 800;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	word-spacing: 1em;
}

.box-2{
	border: 3px dotted #ccc;
	padding: 20px;
	margin: 20px 0px;
}

.categories{
	border: 1px #ccc solid;
	padding: 10px;
	border-radius: 15px;
}

.categories h2{
	text-align: center;
}

.categories ul{
	padding: 0px;
	padding-left: 20px;
	list-style: square;
}

.categories li{
	padding-bottom: 6px;
	border-bottom: 1px #333 dotted;
	list-style-image: url('../IMAGE/check.jpg');
}

.my-form{
	padding: 20px;
}

.my-form .form-group{
	padding-bottom: 15px;
}

.my-form label{
	display: block;
}

.my-form input[type="text"], .my-form textarea, .my-form input[type="email"]{
	padding: 8px;
	width: 100%;
}

/* this is not global button. Refer above for global button
.my-form input[type="submit"]{
	background-color: #333;
	color: #fff;
	padding: 10px 15px;
	border: none;
}
*/

.block{
	float: left;
	width: 33.3%;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
}

#main-block{
	float: left;
	width: 70%;
	padding: 10px;
	margin-top: 10px;
	box-sizing: border-box;
}

#sidebar{
	float: left;
	width: 30%;
	padding: 10px;
	background-color: #333;
	color: #fff;
	margin-top: 10px;
	box-sizing: border-box;
}

.p-box{
	width: 100%;
	height: 500px;
	margin-top: 10px;
	border: 1px solid #000;
	position: relative;
	background-image: url(../IMAGE/itachi.jpg);
}

.p-box h1{
	position: absolute;
	top: 100px;
	left: 200px;
	color: #000;
}

.p-box h2{
	position: absolute;
	bottom:  40px;
	right: 50px;
	color: #000;
}

.fix-me{
	position: fixed;
	top: 400px;
}

.my-list li:first-child{
	background: red;
}

.my-list li:last-child{
	background: blue;
}

.my-list li:nth-child(5){
	background: yellow;
}

.my-list li:nth-child(even){
	background: grey;
}